In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plot

In [3]:
artist_data = pd.read_csv('artist_data.csv')

In [4]:
artist_data.head()

,id,name,gender,dates,yearOfBirth,yearOfDeath,placeOfBirth,placeOfDeath,url
0,10093,"Abakanowicz, Magdalena",Female,born 1930,1930.0,NaN,Polska,NaN,http://www.tate.org.uk/art/artists/magdalena-a...
1,0,"Abbey, Edwin Austin",Male,1852–1911,1852.0,1911.0,"Philadelphia, United States","London, United Kingdom",http://www.tate.org.uk/art/artists/edwin-austi...
2,2756,"Abbott, Berenice",Female,1898–1991,1898.0,1991.0,"Springfield, United States","Monson, United States",http://www.tate.org.uk/art/artists/berenice-ab...
3,1,"Abbott, Lemuel Francis",Male,1760–1803,1760.0,1803.0,"Leicestershire, United Kingdom","London, United Kingdom",http://www.tate.org.uk/art/artists/lemuel-fran...
4,622,"Abrahams, Ivor",Male,born 1935,1935.0,NaN,"Wigan, United Kingdom",NaN,http://www.tate.org.uk/art/artists/ivor-abraha...

In [5]:
artist_data.shape

(3532, 9)

In [6]:
artist.dtypes

NameError: name 'artist' is not defined

In [8]:
artist_data.isnull().sum()

id                 0
name               0
gender           116
dates             62
yearOfBirth       60
yearOfDeath     1304
placeOfBirth     492
placeOfDeath    2079
url                0
dtype: int64