In [6]:
import numpy as np

In [7]:
my_numpy_array = np.random.rand(3)
my_numpy_array

array([ 0.52091131,  0.82739323,  0.01751779])

In [8]:
type

type

In [9]:
type(my_numpy_array)

numpy.ndarray

In [10]:
import pandas as pd

In [11]:
my_series = pd.Series(my_numpy_array)

In [12]:
my_series

0    0.520911
1    0.827393
2    0.017518
dtype: float64

In [13]:
my_series = pd.Series(my_numpy_array, index=['First', 'Second', 'Third'])

In [14]:
my_series

First     0.520911
Second    0.827393
Third     0.017518
dtype: float64

In [15]:
my_series.index

Index(['First', 'Second', 'Third'], dtype='object')

In [16]:
array_2d = np.random.rand(3,2)
array_2d

array([[ 0.5140237 ,  0.54512748],
       [ 0.78273354,  0.67203554],
       [ 0.40514162,  0.60299672]])

In [17]:
array_2d[0,1]

0.54512748015740897

In [18]:
df = pd.DataFrame(array_2d)
df

          0         1
0  0.514024  0.545127
1  0.782734  0.672036
2  0.405142  0.602997

In [19]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [20]:
df.columns = ["First", "Second"]
df

      First    Second
0  0.514024  0.545127
1  0.782734  0.672036
2  0.405142  0.602997

In [21]:
df['Second']

0    0.545127
1    0.672036
2    0.602997
Name: Second, dtype: float64

In [ ]:
#setIndex #resetIndex
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])


df = df.set_index([df.index, 'Name'])
df.index.names = ['Location', 'Name']
df = df.append(pd.Series(data={'Cost': 3.00, 'Item Purchased': 'Kitty Food'}, name=('Store 2', 'Kevyn')))
df

In [22]:
df

      First    Second
0  0.514024  0.545127
1  0.782734  0.672036
2  0.405142  0.602997

In [23]:
df.head()

      First    Second
0  0.514024  0.545127
1  0.782734  0.672036
2  0.405142  0.602997