In [1]:
import numpy as np

In [2]:
my_numpy_array = np.random.rand(3)
my_numpy_array

array([ 0.97870799,  0.49017481,  0.91831009])

In [3]:
type

type

In [4]:
type(my_numpy_array)

numpy.ndarray

In [5]:
import pandas as pd

In [6]:
my_series = pd.Series(my_numpy_array)

In [7]:
my_series

0    0.978708
1    0.490175
2    0.918310
dtype: float64

In [8]:
my_series = pd.Series(my_numpy_array, index=['First', 'Second', 'Third'])

In [9]:
my_series

First     0.978708
Second    0.490175
Third     0.918310
dtype: float64

In [10]:
my_series.index

Index(['First', 'Second', 'Third'], dtype='object')

In [11]:
array_2d = np.random.rand(3,2)
array_2d

array([[ 0.51650302,  0.6052288 ],
       [ 0.84559449,  0.99365623],
       [ 0.1493799 ,  0.66241915]])

In [12]:
array_2d[0,1]

0.60522880341957397

In [14]:
df = pd.DataFrame(array_2d)
df

          0         1
0  0.516503  0.605229
1  0.845594  0.993656
2  0.149380  0.662419

In [15]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [17]:
df.columns = ["First", "Second"]
df

      First    Second
0  0.516503  0.605229
1  0.845594  0.993656
2  0.149380  0.662419

In [18]:
df['Second']

0    0.605229
1    0.993656
2    0.662419
Name: Second, dtype: float64