In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plot

In [4]:
artist_data = pd.read_csv('artist_data.csv')

In [5]:
artist_data.head()

,id,name,gender,dates,yearOfBirth,yearOfDeath,placeOfBirth,placeOfDeath,url
0,10093,"Abakanowicz, Magdalena",Female,born 1930,1930.0,NaN,Polska,NaN,http://www.tate.org.uk/art/artists/magdalena-a...
1,0,"Abbey, Edwin Austin",Male,1852–1911,1852.0,1911.0,"Philadelphia, United States","London, United Kingdom",http://www.tate.org.uk/art/artists/edwin-austi...
2,2756,"Abbott, Berenice",Female,1898–1991,1898.0,1991.0,"Springfield, United States","Monson, United States",http://www.tate.org.uk/art/artists/berenice-ab...
3,1,"Abbott, Lemuel Francis",Male,1760–1803,1760.0,1803.0,"Leicestershire, United Kingdom","London, United Kingdom",http://www.tate.org.uk/art/artists/lemuel-fran...
4,622,"Abrahams, Ivor",Male,born 1935,1935.0,NaN,"Wigan, United Kingdom",NaN,http://www.tate.org.uk/art/artists/ivor-abraha...

In [6]:
artist_data.shape

(3532, 9)

In [7]:
artist_data.dtypes

id                int64
name             object
gender           object
dates            object
yearOfBirth     float64
yearOfDeath     float64
placeOfBirth     object
placeOfDeath     object
url              object
dtype: object

In [8]:
artist_data.isnull().sum()

id                 0
name               0
gender           116
dates             62
yearOfBirth       60
yearOfDeath     1304
placeOfBirth     492
placeOfDeath    2079
url                0
dtype: int64

In [9]:
artist_data.columns

Index(['id', 'name', 'gender', 'dates', 'yearOfBirth', 'yearOfDeath',
       'placeOfBirth', 'placeOfDeath', 'url'],
      dtype='object')

In [10]:
artist_data.gender.value_counts()

Male      2895
Female     521
Name: gender, dtype: int64

In [11]:
df = pd.DataFrame(artist_data)

In [12]:
df.columns

Index(['id', 'name', 'gender', 'dates', 'yearOfBirth', 'yearOfDeath',
       'placeOfBirth', 'placeOfDeath', 'url'],
      dtype='object')

In [13]:
df.tail()

,id,name,gender,dates,yearOfBirth,yearOfDeath,placeOfBirth,placeOfDeath,url
3527,12542,"Zorio, Gilberto",Male,born 1944,1944.0,NaN,"Andorno Micca, Italia",NaN,http://www.tate.org.uk/art/artists/gilberto-zo...
3528,2186,"Zox, Larry",Male,born 1936,1936.0,NaN,"Des Moines, United States",NaN,http://www.tate.org.uk/art/artists/larry-zox-2186
3529,621,"Zuccarelli, Francesco",Male,1702–1788,1702.0,1788.0,Italia,Firenze,http://www.tate.org.uk/art/artists/francesco-z...
3530,2187,"Zuloaga, Ignacio",Male,1870–1945,1870.0,1945.0,España,España,http://www.tate.org.uk/art/artists/ignacio-zul...
3531,2188,"Zyw, Aleksander",Male,1905–1995,1905.0,1995.0,Polska,NaN,http://www.tate.org.uk/art/artists/aleksander-...

In [14]:
df['name'].head()

0    Abakanowicz, Magdalena
1       Abbey, Edwin Austin
2          Abbott, Berenice
3    Abbott, Lemuel Francis
4            Abrahams, Ivor
Name: name, dtype: object

In [15]:
len(artist_data)

3532

In [16]:
df['yearOfBirth'].sort_values().head()

1489    1497.0
395     1500.0
1440    1530.0
261     1531.0
1251    1540.0
Name: yearOfBirth, dtype: float64

In [17]:
df['name'].sort_values().head()

0    Abakanowicz, Magdalena
1       Abbey, Edwin Austin
2          Abbott, Berenice
3    Abbott, Lemuel Francis
4            Abrahams, Ivor
Name: name, dtype: object

In [18]:
df.fillna?

In [19]:
df.iloc[0]

id                                                          10093
name                                       Abakanowicz, Magdalena
gender                                                     Female
dates                                                   born 1930
yearOfBirth                                                  1930
yearOfDeath                                                   NaN
placeOfBirth                                               Polska
placeOfDeath                                                  NaN
url             http://www.tate.org.uk/art/artists/magdalena-a...
Name: 0, dtype: object

In [20]:
df.iloc[0]['name']

'Abakanowicz, Magdalena'

In [21]:
df['yearOfBirth'].max()

2004.0

In [1]:
artist_data.head()

NameError: name 'artist_data' is not defined